<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Quest Plugger</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="row">
                <div class="col-md-10">
                    <h1><a href="/">Quest Plugger</a></h1>
                </div>
                <div class="col-md-1">
                    <h2><a href="/quests/">Quests</a></h2>
                </div>
                <div class="col-md-1">
                    <h2><a href="/contact/">Contact</a></h2>
                </div>
            </div>
        </div>

        <div class="content ">
            <div class="row">
                <div class="col-md-8">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>